*{
    font-family: "Montserrat", sans-serif;
}

body {
    background-image: url(plano-fundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Title{
    margin-top: 3.5vw;
    text-align: center;
    font-size: 4vw;
    color: white;
}

main {
    z-index: 1;
    width: 100%;
    max-width: 80vw;
    min-width: 20vw;
    border-radius: 0.5vw;
    border: 0.5vw solid rgb(100,180,245);
    box-sizing: border-box;
    margin-top: 5vw;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-bottom: 7vw;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1vw;
    padding-bottom: 2vw;
}

.content {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.spnQtd {
    text-align: center;
    width: 4vw;
    margin-left: 57vw;
    font-size: 2.5vw;
    color: solid black;
    border-radius: 10vw;
    padding: 1vw;
    background-color: rgb(230, 230, 230);
}

.answers {
    display: flex;
    flex-direction: column;
}

.question {
    text-align: center;
    margin-bottom: 3vw;
    margin-top: 1vw;
    font-size: 3vw;
}

.start {
    margin-top: 3vw;
    flex-direction: column;
}

.start button {
    font-size: 2.5vw;
    width: 20vw;
    height: 5vw;
    border-radius: 10vw;
}

.finish {
    margin-top: 2vw;
    font-size: 1.75vw;
    display: none;
    text-align: center;
    flex-direction: column;

}

.finish button{
    text-align: center;
    margin-top: 3vw;
}

.resposta {
    display: none;
    text-align: justify;
    margin-bottom: 3vw;
    margin-top: 1vw;
    font-size: 2vw;
}

.respBtn {
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
}

button:hover {
    background-color: rgba(230, 230, 230, 0.808);
}

button{
    font-size: 1.5vw;
    width: 100%;
    height: 4vw;
    margin-bottom: 3vw;
    text-align: center;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    gap: 5px;
    background-color: rgb(230, 230, 230);
}

@media (max-width: 760px) {

    #Title {
        margin-top: 5vw;
        font-size: 7vw;
    }

    main {
        margin-top: 30vw;
        margin-bottom: 25vw;
        padding-bottom: 5vw;
        padding-top: 3vw;
    }

    .question {
        font-size: 4vw;
        padding-bottom: 2vw;
    }

    .spnQtd {
        font-size: 3vw;
        padding: 1.5vw;
    }

    .finish {
        font-size: 4vw;
    }

    .start button {
        font-size: 3.25vw;
        width: 33vw;
        height: 6vw;
        margin-bottom: 6vw;
        margin-top: 3vw;
    }

    button {
        font-size: 3vw;
        height: 8vw;
        margin-bottom: 5vw;
    }

    button:hover { /*Para não dar efeito no celular (não me agrada)*/
        background-color: rgb(230, 230, 230);
    }

}